extends layout

block content
  div(id="always" class="text")
  div(id="cursor-label" class="text")
  div(id="overlay" class="text") 
    div(id="instructions" class="text").
      Click to begin
      |
      W, A, S, D : move
      |
      Mouse : look
      |
      F : Travel to another planet

  div(id="display3D")
  script(src="/scripts/bundle.js")

